# Dependencies
node_modules/

# Next.js
/.next/
/out/
next-env.d.ts
.vercel

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Misc
.DS_Store
*.log
